@import 'common/style/rem';
.edit-wrap{
    .edit{
        padding: rem(60) rem(30) rem(20);
    }
    input {
        outline:none;
    }
    .item{
        position: relative;
        margin-bottom: 75px;
        label{
            width: 100%;
        }
        #editor{
            .w-e-text-container{
                height:600px !important;
            }
        }
        .btn{
            margin-top: rem(15);
            font-size:rem(14);
            padding:rem(10) rem(20);
            border-radius: rem(4);
            color:#fff;
            background: rgba(247, 65, 65, 0.761);
            display: inline-block;
            cursor: pointer;
            float: right;
            &:hover{
                background: rgba(247, 65, 65, 1);
            }
        }
        .label{
            position: absolute;
            left:0;
            top:rem(-30);
            color:#9a9a9a;
            font-size:rem(14);
        }
        .label-msg{
            border:none;
            width: 100%;
            box-sizing: border-box;
            padding: rem(5);
            border-bottom: 1px solid #9a9a9a;
        }
    }
}
