@import 'common/style/_base';
@import 'common/style/_var';
.movedom{
    transform: scale(0);
    transform-origin: center;
    border-radius: 100%;
    opacity: 0;
    position: relative;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    position: absolute;
    left:-70px;
    top: -70px;
    &.big{
        transform: scale(1);
        transform-origin: center;
        opacity: 1;
    }
}
.page-wrap{
    .section1{
        .left,.right{
            transition: all 1s ease;
        }
        .left{
            transform:translateX(0);
        }
        .right{
            opacity: 1;
            .page-p{
                transform:translateX(0);
                transition: all .5s ease;
            }
            .page-span{
                transform:translateX(0);
                transition: all 1s ease;
            }
        }
        .page-p{
            margin-bottom: rem(40);
        }
        &.firstenter{
            &::before{
                content:'';
                position: absolute;
                width: rem(582);
                height: 100%;
                left:0;
                top:0;
                background: url(../res/big.svg) no-repeat -153px center;;
                background-size: 100%;
            }
            .left{
                transform:translateX(#{rem(676)});
            }
            .right{
                opacity: 0;
                .page-p{
                    transform:translateX(50%);
                }
                .page-span{
                    transform:translateX(50%);
                }

            }
        }
    }
    div.section2{
        background: #1E3850;
        height: auto;
        .titlefix{
            position: absolute;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            align-content: center;
            top:0;
        }
        .page-content{
            height: auto;
        }
        .page-title{
            color:#FEFEFF;
        }
        .right,.left{
            align-content: flex-start;
        }
        .left{
            padding-top: rem(252);
            position: relative;
        }
        .right{
            padding-top: rem(147);
        }
        .article{
            width: rem(680);
            min-height: rem(700);
            border: rem(2) solid transparent;
            position: relative;
            margin-bottom: rem(56);
            padding: rem(48);
            transition: all .5s ease;
            cursor: pointer;
            display: block  ;
            .black-arrow{
                position: absolute;
                left:50%;
                top:50%;
                opacity: 0;
                transition: all .5s ease;
                margin-left: rem(-70);
                margin-top:rem(-70);
            }
            &:hover{
                border-color: #8EA4B9;
                cursor: none;
                &:after{
                    display: none;
                }
                .black-arrow{
                    opacity: 1;
                }
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            .h{
                font-size: rem(48);
                font-weight: bold;
                text-align: left;
                height: rem(56);
                color: #fff;
                margin-bottom: rem(32);
            }
            .msg{
                color: #FEFEFF;
                text-align: left;
                font-size: rem(24);
                line-height: rem(32);
                font-weight: normal;
                margin-bottom: rem(32);
            }
            p{
                font-size: rem(28);
                font-weight: bold;
                line-height: rem(56);
                color: #FEFEFF;
                display: flex;
                align-items: center;
                &::before{
                    content:'';
                    width: rem(16);
                    height: rem(16);
                    background-color: #FFFFFF;
                    margin-right: rem(36);
                }
            }
            &:after{
                content: '';
                width: rem(600);
                height: 1px;
                position: absolute;
                left: 50%;
                bottom:0;
                margin-left: rem(-300);
                background: #8EA4B9;
            }
        }
    }
}
