
@import 'common/style/rem';
@import 'component/editor/style/siteText';
.site-labels{
    box-sizing: border-box;
    a{
        font-size:rem(18);
        font-weight: bold;
        color:#aaa;
        padding: rem(5) rem(10);
        display: inline-block;
        box-sizing: border-box;
        line-height: rem(20);
        cursor: pointer;
        &:before{
            content:'#';
            font-weight: bold;
        }
        &:after{
            content:'';
            height:rem(3);
            background: #aaa;
            display: block;
            width: 98%;
            
            transform: translate(2%,rem(8));
            opacity: 0;
            transition: all .15s ease;
        }
        &:hover{
            &:after{
                opacity: 1;
                bottom: 0;
                transform: translate(2%,rem(4));
            }
        }
    }
}