.site-text{
    font-size:16px;
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    p,h1,h2,h3,h4,h5,table,pre {
        margin: 0 !important;
        line-height: 2.4;
    }
    h1,h2{
        padding: 20px 0;
    }
    h1 {
        font-size:1.8em;
        font-weight: bold;
    }
    h2 {
        font-size:1.4em;
        font-weight: bold;
    }
    blockquote{
        display: block;
        border-left: 8px solid #77cbff !important;
        padding: 5px 10px;
        margin: 10px 0;
        line-height: 3 !important;
        font-size: 100%;
        background-color: #f1f1f1;
    }
    table {
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        th {
            border-bottom: 2px solid #ccc;
            text-align: center;
        }
        td,th {
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            padding: 3px 5px;
        }
    }
    pre{
        padding: 1em 0;
    }
    pre code {
        display: block;
        background-color: #000;
        color: #fff;
        border-radius: 3px;
        padding: 1em ;
        margin:0;
        white-space: pre-wrap;
    }
}
