@import "./reset";
@import "./var";

:root {
    --basesize: #{$base}px;
    --base-font:var(--basesize)px;
    
    --site-maxwidth: 1440px;
    --site-minwidth: 1200px;
}
html,html body,.app-page {
    width: 100%;
    height:100%;
    font-size: var(--base-font);
    font-family: 'Azo Sans',"Times New Roman",Georgia,Serif;
    
}

.app-page{
    position: relative;
    overflow: hidden;
}




@media (min-width: 1300px) {

    :root {
        --site-width: var(--site-maxwidth);
        --base-font: #{$base}px;
    }


}
@media (max-width: 990px) {
    
    :root {
        --site-width: var(--site-minwidth);
        --base-font: #{$base * 0.5}px;
    }


}
@media (max-width: 1300px) {
    
    :root {
        --site-width: var(--site-minwidth);
        --base-font: #{$base * 0.8}px;
    }

}


// .page-section{
//     width: 100%; 
//     left:0;
//     height:100%;
//     opacity: 0;
//     position: absolute;
//     overflow: hidden;
//     transition: all .5s ease;
//     &.show{
//         @include step-cur;
//     }
//     .page-content{
//         width: var(--site-width);
//         margin: 0 auto;
//         height: 100%;
//         display: flex;
//         align-items: center;
//         overflow: hidden;
//         display: none;
//     }
//     .scroll-wrap{
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//         position: relative;
//     }
//     .scroll-inner{
//         position: absolute;
//         left:0;
//         top:0;
//         right: -17px;
//         bottom: 0;
//         overflow-x: hidden;
//         overflow-y: scroll;
//     }
//     .page-scroll{
//         padding-top: 72px;
//         .right,.left{
//             height: 82%;
//         }
//         .left{
//             align-content: flex-start;
//         }
//     }
//     .page-title{
//         font-size: 122px;
//         font-weight: bold;
//         align-items: center;
//         justify-content: center;
//         color:#0E1B3B;
//         &.top{
//             align-items: flex-start;
//         }
//     }
//     .left{
//         width: 688px;
//         flex-shrink: 0;
//         display: flex;
//         flex-wrap: wrap;
//         align-content: center;
//         padding: 0 96px;
//         p{
//             width: 100%;
//         }
//     }
//     .right{
//         width: 100%;
//         height: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//     }
//     .page-p {
//         p {
//             font-size: 28px;
//             font-weight: bold;
//             color:#0E1B3B;
//             line-height: 40px;
//         }
        
//     }

//     .page-span   {
//         font-size: 18px;
//         font-weight: normal;
//         line-height: 32px;
//     }
// }
