
@import "./var";
@mixin black-arrow{
    cursor: pointer;
    width: rem(140);
    height: rem(140);
    background: rgba(224, 211, 184, 1) url('../res/black-arrow.svg') no-repeat center;
    background-size: rem(64) rem(49);
    border-radius: 100%;
    transform:rotate(-90deg);
    transition:all .3s ease;
}
.black-arrow-r{
    @include black-arrow;
    transform:rotate(360deg);
}
.black-arrow-l{
    @include black-arrow;
    transform:rotate(180deg);
}
.black-arrow-rt{
    @include black-arrow;
    transform:rotate(-45deg);
}
.black-arrow-b{
    @include black-arrow;
    transform:rotate(90deg);
}


