.letstalk div.page-content {
  display: none;
}
.letstalk .right {
  height: auto;
}
.letstalk .right .page-p {
  width: 500px;
}
.letstalk .marginb {
  margin-bottom: 20px;
}
.letstalk .bottom-section {
  color: #556277;
  font-size: 14px;
  height: auto;
  margin-top: 140px;
  position: absolute;
  bottom: 60px;
}
.letstalk .in-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8EA4B9;
  padding-bottom: 56px;
}
.letstalk .msg-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 48px;
  width: 100%;
}
.letstalk .msg-section .left {
  height: auto;
}
.letstalk .msg-section .page-p span {
  font-size: 12px;
  line-height: 28px;
  color: rgba(14, 27, 59, 0.7);
}
.letstalk .msg-section .page-p p {
  font-size: 18px;
  line-height: 28px;
}
.letstalk .page-content {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
}
.letstalk .btn {
  width: 380px;
  margin-top: 60px;
  height: 93px;
  background: #E0D3B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 64px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 120px;
  cursor: pointer;
}
.letstalk .btn:after {
  content: "";
  height: 18px;
  width: 42px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAQCAYAAACP4IauAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADiSURBVHgB1ZaxCsIwFEVfEiuCWrppFaH9A0EHQYTgXKF+hZ/nHxRHR0ed2sHBUbFDKbYxb9CpqR2fZ0tyhzPcvEQAEVw3AGYPQt4dZa/0eq/KcCCAOwsgbT22jJX7thBRZ7jwqnIkZHebOQghDqBUope+SZgBEaSUcDpnfsl5BIx5eivOi2Kd3Y7JJ0NGFvklTEoWqRMmJ4uYhJk9Xir4D2IS06ARimBnkW8NhK4BME+LxnmpawDEMImSu2B1onhO71EwiCIkZJuIIiSmweXZg8KypnWipMCfV3+yCh1HOqbMG4jElV+nDuUtAAAAAElFTkSuQmCC) no-repeat center;
  background-size: 100%;
}:root {
  --animate-delay: 0.5s !important;
}

.play-btn {
  width: 140px;
  height: 140px;
  background: #e0d3b8 url(/158b184e92fa134fb085144ef4b68126.svg) no-repeat center;
  background-size: 41px 48px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -70px;
  z-index: 1;
}

.yellow-arrow-wrap {
  position: fixed;
  width: 100%;
  height: 80px;
  bottom: 50px;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  z-index: 2;
  left: 0;
}
.yellow-arrow-wrap.delay .yellow-arrow {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.yellow-arrow-wrap.show {
  opacity: 1;
}
.yellow-arrow-wrap:hover {
  opacity: 1;
}

.yellow-arrow {
  width: 80px;
  height: 80px;
  background: url(/1df5f50611a2a9731f831e1f5ed42b9c.svg) no-repeat center;
  background-size: 37px 28px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  border-radius: 100%;
  border: 3px solid #EADBBE;
  -webkit-animation: yellow-arrow-ani 4s infinite;
  animation: yellow-arrow-ani 4s infinite;
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: 0;
  cursor: pointer;
}

.black-arrow {
  cursor: pointer;
  width: 140px;
  height: 140px;
  background: #e0d3b8 url(/a9b27e7d1a5a8bd25297895722d4778a.svg) no-repeat center;
  background-size: 64px 49px;
  border-radius: 100%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.black-arrow.r {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.black-arrow.l {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.black-arrow.rt {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.black-arrow.b {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@-webkit-keyframes yellow-arrow-ani {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes yellow-arrow-ani {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px;
  height: 72px;
  position: fixed;
  z-index: 6;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.site-header.hide {
  display: none;
}
.site-header.open .putawayicon {
  display: block;
}
.site-header.open .putawayicon span:nth-child(1) {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top: 20px;
  width: 10px;
}
.site-header.open .putawayicon span:nth-child(2) {
  top: 20px;
}
.site-header.open .putawayicon span:nth-child(3) {
  top: 20px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  width: 10px;
}
.site-header.open .nav {
  margin-right: 144px;
  z-index: 6;
  opacity: 1;
}
.site-header.open .section-wrap {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.site-header.putAway .nav {
  margin-right: 144px;
  z-index: 6;
  opacity: 1;
}
.site-header.putAway .section-wrap {
  -webkit-transform: translateX(105%);
  transform: translateX(105%);
}
.site-header.putAway .putawayicon {
  display: block;
}
.site-header .putawayicon {
  display: none;
  width: 40px;
  height: 40px;
  right: 40px;
  top: 15px;
  position: absolute;
  margin-left: 60px;
  cursor: pointer;
}
.site-header .putawayicon span {
  height: 2px;
  width: 100%;
  background: #0e1b3b;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.site-header .putawayicon span:nth-child(1) {
  top: 7px;
}
.site-header .putawayicon span:nth-child(2) {
  top: 20px;
}
.site-header .putawayicon span:nth-child(3) {
  top: 33px;
}
.site-header.dark {
  background: #1e3850;
}
.site-header.dark .logo {
  background: url(/image/6a1d0cf549100a9118fb2b28b7ce2cd5.png) no-repeat center;
  background-size: contain;
}
.site-header.dark .login {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEmSURBVHgBrZO9UcNAEIXfu5MJPAQqQVSAqABnDCEFMKAKLFMBFAByByKA2DiCIbGpANOB6YCIAEu3nPkbbN0xZ+CFu2+/29m9JTwqyuvEtHRJQQpKLOBYzeqsl+1OXX76IBKpkc0mCwnBlNXzVi/be1quUS6QRMwbkPdnExO1c1eNG0RswidyOxhEMoGPA8TBIDGYwCvzGAyyW7qDRyIyCQYZj/ktB4xdcfoKTi9uRgQ7C0G7/qP9nQ2EdvShoePZY5/ZC1IzuWpwyIeVQUajsxyrWSUrgc4ub7ukLhpmowd2ds6f/TXsohzEsrbetSvL50eKn2SHDsU+X+rh5xFzDqh1u68UDvALifBcVfVJJFH7XrkONFCkHEpLpwp/gHzrK1X4J70CiA1csPO62C0AAAAASUVORK5CYII=) no-repeat center;
}
.site-header.dark .putawayicon span {
  background: #fff;
}
.site-header.dark .nav .section-wrap .navlist li a {
  color: #8EA4B9;
}
.site-header.dark .nav .section-wrap .navlist li.cur a {
  color: #fff;
}
.site-header .logo {
  display: block;
  height: 40px;
  width: 310px;
  background: url(/image/bbcd8adef2e6bf10adccccdaabbcce18.png) no-repeat center;
  background-size: contain;
}
.site-header .nav {
  max-width: 60%;
  overflow: hidden;
}
.site-header .nav .section-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}
.site-header .nav .navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 23px;
}
.site-header .nav .navlist li {
  margin-right: 40px;
  font-size: 14px;
  cursor: pointer;
}
.site-header .nav .navlist li a {
  color: rgba(14, 27, 59, 0.7);
}
.site-header .nav .navlist li.cur a {
  color: #0e1b3b;
  font-weight: bold;
}
.site-header .login {
  width: 18px;
  height: 18px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEuSURBVHgBrZOxS8NAGMXfu7QBiSm6JCAi2FmcxYKLe/4FF3f/C3d39+7uXYvOzeKSDp2a1QbRNvd5qRYkyclVfdPxuO+X78J7hEW78XnEDm8I9gEJBJjISu4W83Hedt+zQrq8JWAg8CvPnGPl8WxvZ39UFPNlfUa10hUTCqK6L8Z79XpJ20wrSCscwyKhnDiDzDsiWGT+WeAMUoIpbBtBcmeQFqSwbSR66gwSTzJYpEtOnEGL2TitcoPGNshNjlJn0OdaeGp41EPbdStISnmse2+rMtsa5HXQyIvfVdZYtFYkPBgkoLrCVz2+fffCD4+K95fZc32Gm0Mcnwbr+BNJVVL8IBK51nionr8pMdeAbu/aFOkSvxE50ks9ZHg4uG8r6JawTP0ZUkmkr/BP+gAZ0mKAcfZWGwAAAABJRU5ErkJggg==) no-repeat center;
  cursor: pointer;
}@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/*正常的未被访问过的链接*/
a:link {
  text-decoration: none;
}

/*已经访问过的链接*/
a:visited {
  text-decoration: none;
}

/*鼠标划过(停留)的链接*/
a:hover {
  text-decoration: none;
}

/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
  text-decoration: none;
}

/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
  text-decoration: none;
}

html, html body, .app-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrap {
  overflow: hidden;
}

:root {
  --site-maxwidth: 1440px;
  --site-minwidth: 1200px;
}

@media (min-width: 1440px) {
  :root {
    --site-width: var(--site-maxwidth);
    --section-padding:96px;
  }
}
@media (max-width: 1440px) {
  :root {
    --site-width: var(--site-minwidth);
    --section-padding:16px;
  }
}
.section2 {
  top: 100%;
}

.section3 {
  top: 200%;
}

.section4 {
  top: 300%;
}

.section5 {
  top: 400%;
}

.page-section {
  width: 100%;
  left: 0;
  height: 100%;
  opacity: 0;
  position: absolute;
  overflow: hidden;
  transition: all 0.5s ease;
}
.page-section.show {
  z-index: 5;
  top: 0;
  opacity: 1;
}
.page-section.show .page-content {
  display: flex;
}
.page-section .page-content {
  width: var(--site-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  display: none;
}
.page-section .page-scroll {
  overflow: scroll;
  padding-top: 72px;
}
.page-section .page-scroll .right, .page-section .page-scroll .left {
  height: 82%;
}
.page-section .page-scroll .left {
  align-content: flex-start;
}
.page-section .page-title {
  font-size: 122px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: #0E1B3B;
}
.page-section .page-title.top {
  align-items: flex-start;
}
.page-section .left {
  width: 688px;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 96px;
}
.page-section .left p {
  width: 100%;
}
.page-section .right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.page-section .page-p p {
  font-size: 28px;
  font-weight: bold;
  color: #0E1B3B;
  line-height: 40px;
}
.page-section .page-span {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
}

.app-page .page-p {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.app-page.step1 .section1 {
  z-index: 5;
  top: 0;
  opacity: 1;
}
.app-page.step1 .section1 .page-content {
  display: flex;
}
.app-page.step1 .site-header {
  visibility: hidden;
}
.app-page.step2 .right {
  display: block;
}
.app-page.step2 .page-span {
  display: none;
}
.app-page.step2 .site-header, .app-page.step3 .site-header {
  visibility: hidden;
}
.app-page.step2 .page-p, .app-page.step3 .page-p {
  position: absolute;
}
.app-page.step2 .section-page, .app-page.step3 .section-page {
  z-index: 5;
  top: 0;
  opacity: 1;
  background-color: #fff;
}
.app-page.step2 .section-page .page-content, .app-page.step3 .section-page .page-content {
  display: flex;
}
.app-page.step2 .section-page .right, .app-page.step3 .section-page .right {
  position: relative;
  height: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.app-page.step3 .page-span {
  display: block;
}
.app-page.step3 .page-p {
  position: absolute;
  bottom: 160px;
}
.app-page.step3 .site-header {
  z-index: 6;
  visibility: visible;
}
.app-page.step4 .site-header {
  z-index: 6;
  visibility: visible;
}
.app-page.step4 .section3 {
  z-index: 5;
  top: 0;
  opacity: 1;
}
.app-page.step4 .section3 .page-content {
  display: flex;
}
.app-page.step5 .site-header {
  z-index: 6;
  visibility: visible;
}
.app-page.step5 .section4 {
  z-index: 5;
  top: 0;
  opacity: 1;
}
.app-page.step5 .section4 .page-content {
  display: flex;
}

.page-wrap {
  width: 100%;
  height: 100%;
}
.page-wrap .page-section {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.page-wrap .section1 {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
}
.page-wrap .section1 .left {
  width: 582px;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 0;
  background: url(/3e150115bd1b1feeb1b9c1c742a47a2f.svg) no-repeat -153px center;
  background-size: 100%;
}
.page-wrap .section1 .right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-wrap .section1 .right .rigth-content {
  width: 600px;
  font-size: 122px;
  font-weight: bold;
}
.page-wrap .section-page {
  top: 100%;
}
.page-wrap .section-page .right {
  display: none;
}
.page-wrap .section3 {
  background: #1E3850;
  top: 200%;
  height: 100%;
  padding-top: 1px;
}
.page-wrap .section3 .left {
  color: #fff;
}
.page-wrap .section3 .right {
  padding-top: 147px;
}
.page-wrap .section3 .article-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: scroll;
  padding-bottom: 20px;
}
.page-wrap .section3 .article {
  width: 680px;
  min-height: 700px;
  border: 2px solid transparent;
  position: relative;
  margin-bottom: 56px;
  padding: 48px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.page-wrap .section3 .article .black-arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: -70px;
  margin-top: -70px;
}
.page-wrap .section3 .article:hover {
  border-color: #8EA4B9;
}
.page-wrap .section3 .article:hover:after {
  display: none;
}
.page-wrap .section3 .article:hover .black-arrow {
  opacity: 1;
}
.page-wrap .section3 .article:last-child:after {
  display: none;
}
.page-wrap .section3 .article .h {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  height: 56px;
  color: #fff;
  margin-bottom: 32px;
}
.page-wrap .section3 .article .msg {
  color: #FEFEFF;
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  margin-bottom: 32px;
}
.page-wrap .section3 .article p {
  font-size: 28px;
  font-weight: bold;
  line-height: 56px;
  color: #FEFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-wrap .section3 .article p::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  margin-right: 36px;
}
.page-wrap .section3 .article:after {
  content: "";
  width: 600px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -300px;
  background: #8EA4B9;
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJwYWdlL2hvbWUvaW5kZXguOGVmNWUyZC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/