@import 'common/style/_base';
@import 'common/style/_var';
.movedom{
    transform: scale(0);
    transform-origin: center;
    border-radius: 100%;
    opacity: 0;
    position: relative;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    position: absolute;
    &.big{
        transform: scale(1);
        transform-origin: center;
        opacity: 1;
    }
}
.play-btn{
    width: 140px;
    height: 140px;
    background: rgba(224, 211, 184, 1) url('../res/play-btn.svg') no-repeat center;
    background-size: 41px 48px;
    transition: all .7s ease;
    border-radius: 100%;
    z-index: 1;
}

.page-wrap{
    .section-title{
        height: auto;
        margin-bottom: rem(56);
    }
    .title{
        font-size: rem(88);
        color: #0E1B3B;
        font-weight: bold;
        width: rem(932);
        margin: 0 auto;
        text-align: center;
        line-height: rem(96);
    }
    .section1{
        .right{
            .page-p{
                position: relative;
                bottom: rem(-60);
            }
        }
        
    }
    .section2{
        background: #E0D3B8;
        .page-content{
            flex-wrap: wrap;
            align-content: center;
        }
        .title{

            margin-bottom: rem(96);
        }
        ul{
            width: 100%;
            li{
                margin-bottom: 2%;
                display: flex;
                justify-content: space-between;
                .item{
                    width: rem(440);
                    font-size:rem(18);
                    line-height: rem(32);
                    color:#0E1B3B;
                    padding-left: rem(75);
                    box-sizing: content-box;
                    position: relative;
                    &::before{
                        content: '';
                        display: block;
                        width: rem(43);
                        height: rem(40);
                        background: url(../res/listicon.png) no-repeat center;
                        background-size: 100%;
                        position: absolute;
                        left: 0px;
                        top:rem(10);
                    }
                }
            }
            
        }
    }
    .section3{
        height: auto;
        padding-bottom: rem(120);
        .title{
            margin-bottom: rem(24);
        }
        .page-content{
            flex-wrap: wrap;
            height: auto;
            align-content: center;
            overflow: unset;
            padding-top: rem(150);
            padding-bottom: rem(50);
        }
        .msg{
            width: rem(566);
            margin: 0 auto;
            font-size: rem(16);
            line-height: rem(22);
            text-align: center;
            margin-bottom: rem(64);
        }
        .icons-list{
            width: 1000px;
            margin: 0 auto;
            position: relative;
            ul{
                
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            li{
                width: rem(138);
                height: rem(138);
                padding: rem(18);
                background: #F4F4F4;
                flex-shrink: 0;
                margin-bottom: rem(32);
                margin-right: rem(32);
                &:nth-child(6n){
                    margin-right: 0;
                }
                &:nth-last-child(-n+6){
                    margin-bottom: 0;
                }
                div{
                    width: 100%;
                    height: 100%;
                    background: center no-repeat;
                    background-size: contain;
                }
            }
        }

    }    
    .section4{

        height: auto;
        margin-bottom: rem(308);
        .page-content{
           flex-wrap: wrap;
           height: auto;
        }
        .title{
            margin-bottom: rem(56);
        }
        .scrinner{
            height: 1000px;
        }
        .videos{
            width: 100%;
            padding-bottom: 1px;
            position: sticky;
            top:rem(100);
            .video-card{
                margin-bottom: rem(108);
                width: rem(1032);
                margin: 0 auto;
                .video-wrap{
                    width: 100%;
                    height: rem(583);
                    background: #F4F4F4;
                    position: relative;
                    cursor: none;
                    transform:scale(1);
                    transform-origin: center;
                    video{
                        width: 100%;
                        height: rem(583);
                        background: #F4F4F4;
                    }
                }
                p{
                    font-size: rem(28);
                    color:#0E1B3B;
                    height: rem(56);
                    line-height: rem(56);
                    margin-bottom: rem(16);
                }
            }
        }
    }
}
