@import 'common/style/_var.scss';
@mixin putawayiconActive{
    span{
        &:nth-child(1){
            transform: rotate(-30deg);
            top:20px;
            width: 10px;
        }
        &:nth-child(2){
            top:20px;
        }
        &:nth-child(3){
            top:20px;
            transform: rotate(30deg);
            width: 10px;
        }
    }
}
.site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: $headerHeight;
    position: fixed;
    z-index: 6;
    width: 100%;
    transition: all .5s ease; 
    &.hide{
        display: none;
    }  
    &.open{

        .putawayicon{
            display: block;
            @include putawayiconActive;  
        }
        .nav{

            margin-right: 6%;
            z-index: 6;
            opacity: 1;
        }
        .section-wrap{
            transform:translateX(0%)
        }
    }
    &.putAway{
        .nav{
            margin-right: 6%;
            z-index: 6;
            opacity: 1;
        }
        .section-wrap{
            
            transform:translateX(105%)

        }
        .putawayicon{
            display: block;
        }

    }
    .putawayicon{
        display: none;
        width: 40px;
        height: 40px;
        right: 40px;
        top:15px;
        position: absolute;
        margin-left: 60px;
        cursor: pointer;

        span {
            height: 2px;
            width: 100%;
            background: rgba(14, 27, 59, 1);
            position: absolute;
            left:0;
            top:0;
            transition: all .5s ease;
            transform-origin: left center;
            &:nth-child(1){
                top:7px;
            }
            &:nth-child(2){
                top:20px;
            }
            &:nth-child(3){
                top:33px;
            }

        }
    }

    &.dark{
        background: rgba(30, 56, 80, 1);
        .logo{
            background: url(../res/logo-white.png) no-repeat center;
            background-size: contain;
        }
        .login{
            background: url(../res/icon-white.png) no-repeat center;
        }
        .putawayicon{
            span{
                background: #fff;
            }
        }
        .nav{
            .section-wrap{
                .navlist{
                    li{
                        a{
                            color:#8EA4B9;
                        }
                        
                        &.cur{
                            a{
                                color:#fff;
                            }
                            
                        }
                    }
                }
            }

        }
        
    }
    .logo{
        display: block;
        height: 40px;
        width: 310px;
        background: url(../res/logo-dark.png) no-repeat center;
        background-size: contain;
    }

    .nav{
        max-width: 60%;
        overflow: hidden;
        .section-wrap{
            display: flex;
            align-items: center;
            transition: transform .7s ease;
        }
        .navlist{
            display: flex;
            height: 18px;
            align-items: center;
            margin-right: 23px;
            li{
                margin-right: 40px;
                font-size: 14px;
                
                cursor: pointer;
                a{
                    color: rgba(14, 27, 59, 0.7);
                }
                &.cur{
                    a{
                        color: rgba(14, 27, 59, 1);
                        font-weight: bold;
                    }
                    
                }
            }

        }
    }
    .login{
        width: 18px;
        height: 18px;
        background: url('../res/icon-dark.png') no-repeat center;
        cursor: pointer;
    }
    

}